---

---

<section id="section5">
  <h4>05/</h4>
  <h2>contacts</h2>

  <article>
    <h3>contact info</h3>
    <p>mariewulff01@gmail.com</p>
    <p>+45 52651659</p>
    <a href="www.linkedin.com/in/marie-wulff">www.linkedin.com/in/marie-wulff</a
    >
  </article>
  <article>
    <h3>socials</h3>
    <div>
      <p>Marie wulff</p>
    </div>
    <div>
      <p>Marie_wulff</p>
    </div>
  </article>
</section>

<style>
  @layer components {
    .icons {
      width: 24px;
    }
  }
</style>
