---
import { Image } from "astro:assets";
import project1 from "../assets/images/project1.png";
---

<section id="section3">
  <h4>
    <span>03/ </span>
  </h4>
  <h2>projects</h2>

  <article>
    <div>
      <h3>
        1/ animation <br /> hot dog puppy
      </h3>
      <p>Designed and developed a mini game about a hot dog puppy</p>
    </div>
    <Image src={project1} alt="Picture of hot dog puppy the game" />
  </article>
</section>
<style>
  article {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    place-content: start;
    gap: 3rem;
    place-items: center;

    img {
      width: 35rem;
      height: auto;
      border-radius: 1rem;
    }
  }
</style>
