---

---

<h1>
  Hi, My name is marie wulff. i'm a multimedia design student with a strong
  interest in coding.
</h1>

<style>
  @layer component {
    span {
      cursor: pointer;

      &:hover {
        color: red;
      }
    }
    #specialtext {
      color: var(--color-accent);
      font-family: Array;
      font-size: 59px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
  }
</style>
<script type="module">
  const array = document.querySelector("h1").textContent.split("");
  let newStr = "";
  array.forEach((letter) => {
    newStr += `<span>${letter}</span>`;
  });
  document.querySelector("h1").innerHTML = newStr;
</script>
