---

---

<section id="section4">
  <h4>04/</h4>
  <h2>skills</h2>
  <div>
    <ul>
      <h3>video/</h3>
      <li>Adobe Primiere Pro</li>
    </ul>
    <ul>
      <h3>programming/ <br /> Scripting language</h3>
      <li>html</li>
      <li>css</li>
      <li>Astro frameworks</li>
      <li>github</li>
    </ul>
    <ul>
      <h3>Graphic/ <br /> web software</h3>
      <li>Adobe Illustrator</li>
      <li>Adobe Photoshop</li>
      <li>Adobe Lightroom</li>
      <li>Figma</li>
    </ul>
  </div>
</section>

<style>
  @layer components {
    section {
      text-align: right;
    }

    div {
      display: flex;

      ul {
        list-style: none;
        text-align: right;
      }
      li {
        background: var(--color-card-bg);
        width: fit-content;
        padding: 1rem;
        border-radius: 2rem;
        text-align: right;
      }
    }
  }
</style>
